@font-face {
  font-family: 'Muli-SemiBold';
  src: url('../fonts/Muli-SemiBold.eot');
  src: url('../fonts/Muli-SemiBold.eot') format('embedded-opentype'),
       url('../fonts/Muli-SemiBold.svg') format('svg'),
       url('../fonts/Muli-SemiBold.ttf') format('truetype'),
       url('../fonts/Muli-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
	font-family: 'Muli-Regular';
	src: url('../fonts/Muli-Regular.eot');
	src: local('☺'), url('../fonts/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular.ttf') format('truetype'), url('../fonts/Muli-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli-Light';
	src: url('../fonts/Muli-Light.eot');
	src: local('☺'), url('../fonts/Muli-Light.woff') format('woff'), url('../fonts/Muli-Light.ttf') format('truetype'), url('../fonts/Muli-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Muli-Bold';
	src: url('../fonts/Muli-Bold.eot');
	src: local('☺'), url('../fonts/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold.ttf') format('truetype'), url('../fonts/Muli-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
