@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
  .card
    width: 230px
    height: 230px
  .grid-card
    grid-template-columns: 1fr 1fr 
    grid-template-rows: repeat(3, 1fr)
    &__item
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(2, 1fr)
      &:nth-child(1)
        grid-column: 1 / 3
      &:nth-child(2)
        grid-column: 1 / 2
      &:nth-child(3)
        grid-column: 2 / 3
      &:nth-child(4)
        grid-column: 1 / 2
      &:nth-child(5)
        grid-column: 2 / 3
      &_large
        grid-template-columns: 1fr 1fr
        max-width: 730px

@media (max-width: 992px)
  .search
    &__input
      width: 340px
  .newsletter-wrapper
    max-width: 720px
  .container
    max-width: 720px
    .navbar
      &__logo
        max-width: 133px
      &-top
        padding: 30px 0
      &__search
        margin-left: auto
      &-menu
        padding: 22px 0
        &__link
          font-size: 12px
          line-height: 15px
  .hotel
    &-slider
      width: 100%
    &-grid
      flex-direction: column
      &-wrapper
        flex-direction: row
      &__slider
        margin-bottom: 30px
  .reviews
    &-slider
      &__item
        max-width: 579px
  .activities
    padding: 60px 0 70px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px
  .grid-card
    grid-template-columns: 1fr
    grid-template-rows: repeat(5, 1fr)

    &__item
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(2, 1fr)
      max-width: 100%
      &:nth-child(1)
        grid-column: 1 / 2
      &:nth-child(2)
        grid-column: 1 / 2
      &:nth-child(3)
        grid-column: 1 / 2
      &:nth-child(4)
        grid-column: 1 / 2
      &:nth-child(5)
        grid-column: 1 / 2
      &_large
        grid-template-columns: 1fr 
        max-width: 100%

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-menu
      display: none
  .menu
    &-button
      border: none
      width: 16px
      height: 11px
      padding: 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .offer
    order: -1
    margin-left: 0
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__rating
        display: none
      &__name
        margin-top: 10px
    &-grid
      &-wrapper
        flex-direction: column
        min-height: 460px
  .hotel-slider__item
    height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translateX(-50%)
        &--next
          right: 50%
          margin-right: -65px
          transform: translateX(50%)
    &__title
      font-size: 30px
      line-height: 38px
  .card
    width: 49%
    height: 255px

@media (max-width: 576px)
  .navbar
    &__logo
      width: 99px
  .hotel-slider__item
    height: 250px
  .newsletter
    padding: 76px 0 83px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    max-width: 280px
  .reviews
    padding: 40px 0 50px
    &-slider
      min-height: 485px
      &__item
        max-width: 280px
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 0 40px
  .activities
    padding: 40px 0 40px 0
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
    height: 230px
