@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px

@media (max-width: 992px)
  .search
    &__input
      width: 340px

  .newsletter-wrapper
    max-width: 720px
  .container
    max-width: 720px
    .navbar
      &__logo
        max-width: 133px
      &-top
        padding: 30px 0
      &__search
        margin-left: auto
      &-menu
        padding: 22px 0
        &__link
          font-size: 12px
          line-height: 15px
  .slider
    width: 100%
  .hotel
    &-grid
      flex-direction: column
      &-wrapper
        flex-direction: row
      &__slider
        margin-bottom: 30px



@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-menu
      display: none
  .menu
    &-button
      border: none
      width: 16px
      height: 11px
      padding: 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .offer
    order: -1
    margin-left: 0
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__rating
        display: none
      &__name
        margin-top: 10px
    &-grid
      &-wrapper
        flex-direction: column
        min-height: 460px
  .swiper-container
    height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px





@media (max-width: 576px)
  .navbar
    &__logo
      width: 99px
  .swiper-container
    height: 250px
  .newsletter
    padding: 76px 0 83px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    max-width: 280px

